@font-face {
    src: url("./assets/fonts/Barriecito-Regular.ttf");
    font-family: "Author";
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(27, 24, 24);
}

* {
    transition: all 300ms ease;
}

#soundboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 561.583px;
    user-select: none;
}

#overlay {
    width: 561.583px;
    height: 561.583px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

#sidebar {
    position: absolute;
    top: 22%;
    left: 9%;
    height: 350px;
    width: 130px;
}

#sidebar div {
    margin-top: 10px;
}

#sidebar input {
    width: 90%;
}

#sounds {
    position: absolute;
    top: 49.3%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: auto auto auto auto;
    z-index: 20;
    width: 300px;
    right: calc(561.583px - 87.85%);
}

.sound {
    width: 60px;
    height: 61px;
    margin: 9.2px;
    margin-top: 8.6px;
    margin-bottom: 8.6px;
    user-select: none;
    background: rgb(44, 45, 49);
    box-shadow: 0 0 5px 1px red;
    transition: all 100ms ease;
}

.sound:active {
    box-shadow: 0 0 5px 2px black;
}

#author {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-family: "Author";
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 0px 10px;
    line-height: 25px;
    user-select: none;
    transition: all 100ms ease;
}

#author:hover {
    background: rgba(255, 255, 255, 0);
    animation: author-pop 2s ease;
}

#author:active {
    background: rgba(255, 255, 255, 0.05);
    transform: rotate(90deg)l
}

@keyframes author-pop {
    0% { transform: scale(1) }
    25% { transform: scale(0.9) }
    50% { transform: scale(1) }
    100% { transform: scale(1) }
}

input[type="range"] {
    appearance: slider-vertical;
    background: transparent;
    width: 34px;
    margin-top: 0;
    height: 130px;
}

/* input[type="range"]::-moz-range-track {
    background: black;
    width: 5px;
}

input[type="range"]::-moz-range-thumb {
    background: transparent;
    background: url("./assets/fader.png");
    border-radius: 0;
    height: 70px;
    width: 28px;
    border: none;
} */

#faders {
    display: grid;
    grid-template-columns: auto auto auto;
}

#fader-titles {
    display: grid;
    grid-template-columns: auto auto auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: all 500ms ease;
  backdrop-filter: blur(5px);
  z-index: 200;
}

span.tooltip .tooltiptext {
    top: 120%;
    height: 20px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -7px;
    border-width: 7px;
    border-style: solid;
    backdrop-filter: blur(5px);
}

span.tooltip .tooltiptext::after {
    bottom: 100%;
    border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent;
}

.tooltip:not(span) .tooltiptext::after {
    top: 100%;
    border-color: rgba(255, 255, 255, 0.1) transparent transparent transparent;
}

 
  

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#reset {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: all 100ms ease;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.9);
}

#reset:active {
    border: 1px solid transparent;
    box-shadow: none;
}

#stop {
    background: rgba(255, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(255, 0, 0, 0.7);
    transition: all 100ms ease;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#stop:active {
    box-shadow: none;
    border: 1px solid transparent;
}

@media screen and (max-width: 561.583px) {
    #soundboard {
        width: 400px;
    }

    #overlay {
        width: 400px;
        height: 400px;
    }

    #sounds {
        z-index: 20;
        width: 213.68168195974593248014986208628px;
        right: calc(400px - 87.85%);
    }

    .sound {
        width: 42.736336391949186496029972417256px;
        height: 43.44860866514833960429713862421px;
        margin: 6.5529049134322085960579291039793px;
        margin-top: 6.1255415495127167310976293798067px;
        margin-bottom: 6.1255415495127167310976293798067px;
    }

    #sidebar {
        height: 249.29529561970358789350817243399px;
        width: 92.595395515889904074731606904055px;
    }

    #sidebar div {
        margin-top: 5px;
    }

    #stop {
        font-size: 12px;
        line-height: 20px;
        margin-top: 5px !important;
    }

    input[type="range"] {
        height: 100px;
    }
}