body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    background-color: rgb(27, 24, 24);
}

button {
    background-color: rgba(39, 39, 209, 0.9);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 25px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    transition: all 100ms ease;
    border: 1px solid transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}

button:hover {
    background-color: rgba(39, 39, 209, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

button:active {
    background-color: rgba(39, 39, 209, 0.7);
}

#tabs {
    user-select: none;
    width: calc(100% - 6px);
    margin-left: 50%;
    transform: translateX(-50%);
}

#classic, #crazy {
    display: inline-block;
    border: 1px solid transparent;
    width: calc(50% - 24px);
    transition: all 200ms ease;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
}

#classic:hover, #crazy:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#classic {
    border-radius: 10px 0 0 10px;
}

#crazy {
    border-radius: 0 10px 10px 0;
}

#soundboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#sounds {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
    border-radius: 2px;
}

.sound {
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    user-select: none;
    transition: all 100ms ease;
    border: 1px solid transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}

.sound:hover {
    background-color: rgba(39, 39, 209, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.sound:active {
    background-color: rgba(255, 255, 255, 0.05);
}

.active {
    background-color: rgba(39, 39, 209, 0.7) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}